.container{
	display: flex;
	flex-wrap: wrap;
	width: 100vw;
	border: 2px red solid;
}
.header{
	width: 33vw;
	height: 50vh;
	border: 2px yellow solid;
}
.body{
	width: 33vw;
	height: 50vh;
	border: 2px blue solid;
}
.footer{
	width: 33vw;
	height: 50vh;
	border: 2px green solid;
}
